.listPage{
    display: flex;
    height: 100vh;

    .listContainer{
        flex:3;
        overflow-y:scroll ;
        .wrapper{
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-bottom: 100px;
        }
    }
    .mapContainer{
        flex:2;
        height: 100%;
        background-color: #fcf5f3;
    }
}