.filter{
    display: flex;
    flex-direction: column;
    gap:10px;
    h1{
        font-weight: 300;
        font-size: 24px;
    }
    .item{
        display: flex;
        flex-direction: column;
        gap: 2px;
        label{
            font-size: 10px;
        }
        input,select{
            width:100px;
            padding: 8px;
            border: 1px solid grey;
            border-radius:5px;
            font-size: 10px;
        }   
    }
    .top{
        input{
            width: 100%;
        }
    }
    .bottom{
        display:flex;
        justify-content: space-between;
        gap: 5px;

        button{
            width: 30px;
            padding: 3px;
            border: none;
            cursor:pointer;
            background-color: rgb(255, 217, 0);
            img{
                width: 24px;
                height: 24px;
            }
        }
    }
}