@import '../../responsive.scss';
.searchbar{
    .type{
        button{
            padding: 16px 36px;
            border: 1px solid grey;
            border-bottom:none;
            background-color: white;
            cursor: pointer;
            text-transform: capitalize;

            &.active{
                background-color: black;
                color: white;
            }
            &:first-child{
                border-top-left-radius:5px;
                border-right:none;

            }
            &:last-child{
                border-top-right-radius:5px;
                border-left:none;
            }
        }
    }
    form{
        display: flex;
        justify-content: space-between;
        border: 1px solid grey;
        height: 36px;
        gap:5px;

        @include small{
            flex-direction: column;
        }

        input{
            border:none;
            width: 150px;
            padding:0px 10px;

                @include large{
                    padding: 0px 5px;
                    &:nth-child(2),&:nth-child(3){
                        width: 100px;
                    }
                }

                @include medium{
                    width: 150px;
                    &:nth-child(2),&:nth-child(3){
                        width: 150px;
                    }
                }
                @include small{
                    width: auto;
                    padding: 15px;
                    &:nth-child(2),&:nth-child(3){
                        width: auto;
                    }
                    border: 1px solid grey;
                }
                
        }
        button{
            flex:1;
            background-color: rgb(255, 217, 0);
            border:none;
            cursor: pointer;

            @include small{
                padding:10px;
            }
            img{
                width: 24px;
                height: 24px;
            }
        }
    }
}